body{
  overflow: hidden;
}

#controlsbox{
  display: grid;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 411px;
  height: 570px;
  background: #ECE9D8;
  z-index: 1;
  border: #2744AA 2px solid;
  border-radius: 5px;

  grid-template-rows: 1fr 1fr 2fr 2fr 1fr 3fr 2fr;
}

.controlsboxdiv{
  border: #aaa 1px solid;
  width: 408px;
}

#unitsflex input{
  width: 2em;
  height: 3em;
}

#unitsflex{
  display:flex;
  justify-content: space-around;
}

#atomsflex input{
  width: 3.5em;
  height: 3.5em;
}

#buttonflex{
  display: flex;
  width: 411px;
}

.buttonrow{
  flex-grow:1;
}

#atomslist{
  height: 15vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background: white;
}

#atomsflex{
  display:flex;
  justify-content: space-around;
}

#colorpicker{
  width: 10px;
}

div p{
  margin: 0.25em;
}

td{
  width:102.75px;
  text-align: center;
}
.crystalrow:hover{
  background: grey;
  border: 1px grey solid;
}


#tablediv td{
  width: 137px; 
  vertical-align: middle;
  margin: auto;
  text-align: center;
  border: 1px black solid;
}




body{
  overflow: hidden;
}